@font-face {
    font-family: futura-title;
    src: url('../../fonts/futura/Futura\ Heavy\ font.ttf');
}

.item{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 18rem;
    width: 19.5rem;
}

.name{
    font-size: 24px;
    text-align: center;
    font-family: futura-title;
    color: #223b05;
}

.img{
    height: fit-content;
    width: fit-content;
}

.buttons{
    margin-top: 0.4rem;
    margin-left: 1rem;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.buttons div{
    flex: 1;
}

.info-box-wrapper{
    position: relative;
}

.event-modal{
    background-color: transparent;
    border: none;
    outline: none;
    color: #223b05;
    cursor: pointer;
}