@font-face {
    font-family: futura-title;
    src: url('../../fonts/futura/Futura\ Heavy\ font.ttf');
}

.item{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 18rem;
    width: 19.5rem;
}

.name{
    font-size: 24px;
    text-align: center;
    font-family: futura-title;
    color: #223b05;
}

.img{
    height: fit-content;
    width: fit-content;
}

.buttons{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.buttons button{
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    color: #223b05;
}