@font-face {
    font-family: futura-links;
    src: url('../../fonts/futura/Futura\ Book\ font.ttf');
}

@font-face {
    font-family: futura-sub-header;
    src: url('../../fonts/futura/Futura\ Extra\ Black\ font.ttf');
}

.footer{
    background-color: #964B00;
    color:#ffffff;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.footer::-webkit-scrollbar{
    display:none
}

.links{
    width: 100%;
    margin-top:0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.list-one{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-one div{
    margin-left: 4rem;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
    font-family: futura-links;
}

.list-two{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: futura-links;
}

.list-two div{
    margin-left: 4rem;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
}

.list-three{
    flex-grow:1;
    padding-left: 2rem;
}

.list-three h3{
    font-family:futura-sub-header;
}

.socials{
    margin-top: 1.5rem;
    width: fit-content;

}

.images{
    width:fit-content;
}

.images span{
    margin-left:1.5rem;
}

.form {
    font-size: 14px;
    position: relative;
    border-top: 20px solid transparent;
}

.form input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-bottom: 2px solid white;
    width: 200px;
    font-size: 14px;
    outline: none;
    color: white;
}

.form .placeholder {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 24px);  
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.form input:focus + .placeholder {
    top: -14px;
    font-size: 10px;
    color: #FFFFFF;
}

.form input:not(:placeholder-shown) + .placeholder {
    top: -14px;
    font-size: 10px;
    color: #FFFFFF;
}

.form input:not(:placeholder-shown) + .placeholder
.form input:focus + .placeholder {
    top: -14px;
    font-size: 10px;
    color: white;
}


.subscribe{
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding-left: 3rem;
    padding-right:3rem;
    padding-top: 0.2rem;
    padding-bottom:0.2rem;
    border-radius: 12px;
    font-family: futura-links;
    cursor: pointer;
}