.footer{
    background-color: #964B00;
    color:#ffffff;
}

.links{
    margin-top:0.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.list-one{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-one div{
    margin-left: 4rem;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
}

.list-two{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-two div{
    margin-left: 4rem;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
}

.list-three{
    flex-grow:1;
    padding-left: 2rem;
}

.socials{
    margin-top: 1.5rem;
    width: fit-content;

}

.images{
    width:fit-content;
}

.images span{
    margin-left:1.5rem;
}