@font-face {
    font-family: futura-links;
    src: url('../../fonts/futura/Futura\ Book\ font.ttf');
}

@font-face {
    font-family: futura-sub-header;
    src: url('../../fonts/futura/Futura\ Extra\ Black\ font.ttf');
}

.footer{
    background-color: #964B00;
    color:#ffffff;
}

.links{
    margin-top:0.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.list-one{
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-one div{
    margin-left: 4rem;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
    font-family: futura-links;
}

.list-two{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: futura-links;
}

.list-two div{
    margin-left: 4rem;
    margin-top:0.4rem;
    margin-bottom: 0.4rem;
}

.list-three{
    flex-grow:1;
    padding-left: 2rem;
}

.list-three h3{
    font-family:futura-sub-header;
}

.socials{
    margin-top: 1.5rem;
    width: fit-content;

}

.images{
    width:fit-content;
}

.images span{
    margin-left:1.5rem;
}

.form{
    position: relative;
}

.form input[type=email]{
    outline: none;
    background-color: transparent;
    border: none;
    padding-top: 1rem;
    color: #ffffff;
}

.form label{
    position:absolute;
    left:0rem;
    bottom:0rem;
    border-bottom: 1px solid white;
    width: 10rem;
    pointer-events: none;
    font-family: futura-links;
}

.subscribe{
    margin-top: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding-left: 3rem;
    padding-right:3rem;
    padding-top: 0.2rem;
    padding-bottom:0.2rem;
    border-radius: 12px;
    font-family: futura-links;
}