@font-face {
    font-family: futura-button;
    src: url('../../fonts/futura/Futura\ Bold\ font.ttf');
}

@font-face {
    font-family: futura-content;
    src: url('../../fonts/futura/Futura\ Light\ font.ttf');
}

@font-face {
    font-family: futura-title;
    src: url('../../fonts/futura/Futura\ Bold\ font.ttf');
}

.intern-canvas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intern-grid{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    grid-column-gap:1.25rem;
    height: 28rem;
    width: 48rem;
}

.intern-grid-1{
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#223b05;
    color: white;
}

.intern-content{
    background-color: transparent;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-family: futura-content;
    font-size: 21px;
}

.intern-grid-2{
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:white;
    color: #223b05;
}

.intern-2-title{
    text-align: center;
    color: #6290c8;
    font-size: 36px;
    font-family: futura-title;
}

.intern-other{
    margin-top: 1.5rem;
    cursor: pointer;
}

.intern-form {
    font-size: 14px;
    position: relative;
    border-top: 20px solid transparent;
    margin-left: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
    -moz-appearance: textfield;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.intern-form input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-bottom: 2px solid #6290c8;
    width: 200px;
    padding-left: 0px;
    font-size: 16px;
    outline: none;
    color: #6290c8;
}

.intern-form .intern-placeholder {
    position: absolute;
    left: 0px;
    top: 1px;
    width: calc(100% - 24px);  
    color: #6290c8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: futura-content;
    font-size: 16px;
    transition: 
    top 0.3s ease,
    left 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.intern-form input:focus + .intern-placeholder {
    top: -14px;
    left: 0px;
    font-size: 10px;
    color: #6290c8;
}

.intern-form input:not(:placeholder-shown) + .intern-placeholder {
    top: -14px;
    font-size: 10px;
    color: #6290c8;
}

.intern-form input:not(:placeholder-shown) + .intern-placeholder
.intern-form input:focus + .intern-placeholder {
    top: -14px;
    font-size: 10px;
    color: #6290c8;
}

.intern-file{
    margin-top: 1.5rem;
    color: #6290c8;
    font-family: futura-content;
    font-size: 18px;
    text-align: center;
}

.intern-file label{
    border:3px solid #6290c8;
    padding: 0.25rem 3rem 0.25rem 3rem;
    border-radius: 8px;
}

.intern-file label:hover{
    cursor: pointer;
}

.intern-file-input{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.intern-top{
    margin-top: 2.5rem;
}

.intern-next{
    margin-top: 1.5rem;
    text-align: center;
}

.intern-next button{
    background-color: transparent;
    border:3px solid #6290c8;
    border-radius: 8px;
    color: #6290c8;
    padding: 0.5rem 2.5rem;
}

.intern-next button:hover{
    cursor: pointer;
}

