@font-face {
    font-family: futura-content;
    src: url('../../fonts/futura/Futura\ Light\ font.ttf');
}

.top{
    position:fixed;
}

.contact{
    padding-top: 2rem;
    width: 100vw;
    height: calc(100vh - 2rem);
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:9rem calc(100vh - 2rem - 9rem);
}

.sub{
    padding-top: 1rem;
    color: #223b05;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub div{
    height: 100%;
    width: 85%;
    text-align: center;
    color: #223b05;
}

.big{
    font-family: futura-title;
    font-size: 36px;
}

.medium{
    font-family: futura-content;
    font-size: 18px;
}

.small{
    font-family: futura-content;
    font-size: 12px;
}

.sub div hr{
    border-top: 3px solid #223b05;
    border-radius: 8px;
}


.body{
    color: #223b05;
    display: flex;
    flex-direction: row;
}

.email{
    flex-grow: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email div{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    border: 8px solid #223b05;
    color: #223b05;
}

.beam {
    font-size: 14px;
    position: relative;
    border-top: 20px solid transparent;
    font-family: futura-content;
}

.beam input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #E6E6E3;
    width: 21.5rem;
    font-size: 14px;
    outline: none;
    color: #223b05;
    font-family: futura-content;
}

.beam .name {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 24px);  
    color: #223b05;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.textarea{
    background-color: #E6E6E3;
    outline: none;
    border: none;
    width: 21.3rem;
    height: 9rem;
    padding: 6px 3px;
    resize: none;
    font-family: futura-content;
    font-size: 18px;
}

.send{
    background-color: transparent;
    outline: none;
    border: 2px solid #223b05;
    border-radius: 8px;
    color:#223b05;
    padding: 0.2rem 4.5rem 0.2rem 4.5rem;
    font-family: futura-content;
    font-size: 18px;
}

.other{
    flex-grow: 1;
}

.other ul{
    margin-top: 7rem;
}

.other ul li{
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #223b05;
    font-family: futura-content;
    font-size: 18px;
}

.other ul li:last-child span{
    margin-right: 0.7rem;
}