@font-face {
    font-family: futura-title;
    src: url('../../fonts/futura/Futura\ Bold\ font.ttf');
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.paper{
    height: 28rem;
    width: 45rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item1{
    background-color: #6290c8;
}

.title-l{
    margin-top: 1rem;
    text-align: center;
    font-size: 48px;
    font-family: futura-title;
    color: white;
}

.input-l{
    margin-top: 6.5rem;
    height: fit-content;
    width: fit-content;
    margin-left: 4rem;
}

.item2{
    background-color: #223b05;
}

.input-s{
    margin-top: 5.5rem;
    height: fit-content;
    width: fit-content;
    margin-left: 4rem;
}

.title-s{
    margin-top:1rem;
    text-align: center;
    font-size: 48px;
    font-family: futura-title;
    color: white;
}

.custom {
    font-size: 14px;
    position: relative;
    border-top: 20px solid transparent;
}

.custom input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-bottom: 2px solid white;
    width: 200px;
    font-size: 14px;
    outline: none;
    color: white;
}

.custom .label {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 24px);  
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom input:focus + .label {
    top: -14px;
    font-size: 10px;
    color: #FFFFFF;
}

.custom input:not(:placeholder-shown) + .label {
    top: -14px;
    font-size: 10px;
    color: #FFFFFF;
}

.custom input:not(:placeholder-shown) + .label
.custom input:focus + .label {
    top: -14px;
    font-size: 10px;
    color: white;
}

.empty{
    height: 1.5rem;
    width: 100%;
}

.empty2{
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
    text-align: center;
}

.empty3{
    height: 1rem;
    width: 100%;
}

.empty4{
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    text-align: center;
}


.initialize{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.2rem 5.1rem 0.2rem 5.1rem;
    color: white;
}

@media screen and (max-width:767px){
    .display{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        height: 120vh;
        width: 100vw;
    }

    .paper{
        width: 28rem;
        height:fit-content;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .item2{
        background-color: #223b05;
    }

    .item1{
        background-color: #6290c8;
        padding-bottom:2rem;
    }

    .title-l{
        margin-top:1rem;
        text-align: center;
        font-size: 48px;
        font-family: futura-title;
        color: white;
    }

    .input-l{
        margin-top: 5rem;
        margin-left: 8rem;
        background-color: transparent;
    }

    .input-s{
        margin-top: 5.5rem;
        height: fit-content;
        width: fit-content;
        margin-left: 8rem;
    }
    
    .empty{
        height: 3rem;
        width: 100%;
    }
}

@media screen and (max-width:400px){
    .paper{
        display:grid;
        grid-template-columns: 1fr;
        height: 28rem;
        width: 14rem;
    }

    .input-l{
        margin-top: 5rem;
        margin-left: 6rem;
        background-color: transparent;
    }
}