@font-face {
    font-family: futura-title;
    src: url('../../fonts/futura/Futura\ Bold\ font.ttf');
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.item1{
    background-color: #6290c8;
}

.title-l{
    margin-top: 1rem;
    text-align: center;
    font-size: 48px;
    font-family: futura-title;
    color: white;
}

.input-l{
    margin-top: 6.5rem;
    height: fit-content;
    width: fit-content;
    margin-left: 4rem;
}

.item2{
    background-color: #AADA81;
}

.input-s{
    margin-top: 5.5rem;
    height: fit-content;
    width: fit-content;
    margin-left: 4rem;
}

.title-s{
    margin-top:1rem;
    text-align: center;
    font-size: 48px;
    font-family: futura-title;
    color: white;
}

.custom {
    font-size: 14px;
    position: relative;
    border-top: 20px solid transparent;
}

.custom input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-bottom: 2px solid white;
    width: 200px;
    font-size: 14px;
    outline: none;
    color: white;
}

.custom .label {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 24px);  
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom input:focus + .label {
    top: -14px;
    font-size: 10px;
    color: #FFFFFF;
}

.custom input:not(:placeholder-shown) + .label {
    top: -14px;
    font-size: 10px;
    color: #FFFFFF;
}

.custom input:not(:placeholder-shown) + .label
.custom input:focus + .label {
    top: -14px;
    font-size: 10px;
    color: white;
}

.empty{
    height: 1.5rem;
    width: 100%;
}

.empty2{
    width: 100%;
    height: fit-content;
    margin-top: 3rem;
    text-align: center;
}

.empty3{
    height: 1rem;
    width: 100%;
}

.empty4{
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
    text-align: center;
}


.initialize{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.2rem 5.1rem 0.2rem 5.1rem;
    color: white;
}